body {
    color: #242424;
}

h1, h2, p {
    font-family: "Inter";
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-weight: 500;
}

h4 {
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    font-family: "Inter Tight";
    font-size: .9em;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: .25em;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    padding-left: 2em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-radius: .25em;
}

a:link {
    color: #242424;
    text-decoration: none;
}

li:hover {
    background-color: #e0e0e0;
}

.header {
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main {
    margin: auto;
    margin-top: 2em;
    margin-left: 30%;
    width: 50%;
    height: 70%;
}

.sidebar {
    width: 15%;
    margin-top: 2em;
    margin-left: 10%;
    padding-right: 1em;
    float: left;
}

.collapsible {
    font-family: "Inter Tight";
    font-size: 1em;
    font-weight: 400;
    color: #346ed8;
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    border-radius: .25em;
    padding: .5em .5em .5em 1.5em;
    width: 100%;
}

.collapsible:hover {
    background-color: #bcd3ff;
}

.content {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .1s ease-out;
    line-height: 1.5em;
}

.content.show {
    max-height: 100%;
}